.abtheader {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #186daf 0%, #22a4bc 100%);
    width: 100vw;
    height: 25vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.abtheadertxt {
    text-align: center;
    position: relative;
    top: 15vh;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.abtsubdiv1 {
    z-index: -100;
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2vw;
}
.guyimg {
    width: 130px;
    height: 100px;
}
.abtsubdiv1header {
    font-size: 30px;
    color: #0d4050;
    font-weight: bold;
    margin-left: 20px;
}
.conesimg {
    width: 50px;
    height: 50px;
}
.ssmdiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #b7e5f425;
    margin-left: auto;
    margin-right: auto;
}
.aboutus {
    z-index: -100;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.abtmem {
    width: 450px;
    height: auto;
    margin: 20px;
    box-shadow: 0px 4px 10px 1px rgba(121, 166, 180, 0.63);
}
.abtcontent {
    margin: 10px 0px;
    font-size: 15px;
    color: #515151;
    line-height: 1.5;
}
.abtheading {
    font-size: 28px;
    font-weight: bold;
    color: #0d4050;
    margin: 3px 0px;
}
.wanttojoin {
    margin: 10px 0px;
    border: none;
    background-color: #267d98;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.wanttojoin:hover {
    cursor: pointer;
}

@media (max-width: 1400px) {
    .abtheader {
        height: 23vh;
    }
    .abtheadertxt {
        font-size: 26px;
    }
    .abtsubdiv1 {
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2vw;
    }
    .guyimg {
        width: 120px;
        height: 100px;
    }
    .abtsubdiv1header {
        font-size: 26px;
        font-weight: bold;
        margin-left: 20px;
    }
    .conesimg {
        width: 50px;
        height: 50px;
    }
    .ssmdiv {
    }
    .aboutus {
        width: 65%;
    }
    .abtmem {
        width: 430px;
        height: auto;
        margin: 20px;
    }
    .abtsubdiv3 {
        width: 30%;
    }
    .abtcontent {
        margin: 10px 0px;
        font-size: 15px;
        line-height: 1.5;
    }
    .abtheading {
        font-size: 26px;
        margin: 3px 0px;
    }
    .wanttojoin {
        margin: 10px 0px;
        border: none;
        border-radius: 6px;
        padding: 16px;
    }
}

@media (max-width: 1200px) {
    .abtheader {
        height: 23vh;
    }
    .abtheadertxt {
        font-size: 24px;
    }
    .abtsubdiv1 {
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2vw;
    }
    .guyimg {
        width: 120px;
        height: 100px;
    }
    .abtsubdiv1header {
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
    }
    .conesimg {
        width: 50px;
        height: 50px;
    }
    .ssmdiv {
    }
    .aboutus {
        width: 75%;
    }
    .abtmem {
        width: 380px;
        height: auto;
        margin: 20px;
    }
    .abtsubdiv3 {
        width: 30%;
    }
    .abtcontent {
        margin: 10px 0px;
        font-size: 15px;
        line-height: 1.5;
    }
    .abtheading {
        font-size: 24px;
        margin: 3px 0px;
    }
    .wanttojoin {
        margin: 10px 0px;
        border: none;
        border-radius: 6px;
        padding: 16px;
    }
}
@media (max-width: 1000px) {
    .abtheader {
        height: 23vh;
    }
    .abtheadertxt {
        font-size: 20px;
    }
    .abtsubdiv1 {
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2vw;
    }
    .guyimg {
        width: 120px;
        height: 100px;
    }
    .abtsubdiv1header {
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
    }
    .conesimg {
        width: 50px;
        height: 50px;
    }
    .ssmdiv {
    }
    .aboutus {
        width: 80%;
    }
    .abtmem {
        width: 350px;
        height: auto;
        margin: 20px;
    }
    .abtsubdiv3 {
        width: 30%;
    }
    .abtcontent {
        margin: 10px 0px;
        font-size: 13px;
        line-height: 1.4;
    }
    .abtheading {
        font-size: 20px;
        margin: 3px 0px;
    }
    .wanttojoin {
        margin: 10px 0px;
        border: none;
        border-radius: 6px;
        padding: 16px;
    }
}
@media (max-width: 800px) {
    .abtheader {
        height: 23vh;
    }
    .abtheadertxt {
        font-size: 18px;
    }
    .abtsubdiv1 {
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2vw;
    }
    .guyimg {
        width: 120px;
        height: 100px;
    }
    .abtsubdiv1header {
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
    }
    .conesimg {
        width: 50px;
        height: 50px;
    }
    .ssmdiv {
        margin-top: 0px;
    }
    .aboutus {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
    }
    .abtmem {
        width: 330px;
        height: auto;
        margin: 20px;
    }
    .abtsubdiv3 {
        width: 30%;
    }
    .abtcontent {
        margin: 10px 0px;
        font-size: 13px;
        line-height: 1.3;
    }
    .abtheading {
        font-size: 18px;
        margin: 3px 0px;
    }
    .wanttojoin {
        margin: 10px 0px;
        border: none;
        border-radius: 6px;
        padding: 16px;
    }
}

@media (max-width: 700px) {
    .abtheader {
        height: 23vh;
    }
    .abtheadertxt {
        font-size: 18px;
    }
    .abtsubdiv1 {
        display: flex;
        height: 18vh;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 2vw;
    }
    .guyimg {
        width: 120px;
        height: 100px;
    }
    .abtsubdiv1header {
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
    }
    .conesimg {
        width: 50px;
        height: 50px;
    }
    .ssmdiv {
        margin-top: 0px;
    }
    .aboutus {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        flex-direction: column;
    }
    .abtmem {
        width: 330px;
        height: auto;
        margin: 20px;
    }
    .abtsubdiv3 {
        width: 30%;
    }
    .abtcontent {
        margin: 10px 0px;
        font-size: 13px;
        line-height: 1.3;
    }
    .abtheading {
        font-size: 18px;
        margin: 3px 0px;
    }
    .wanttojoin {
        margin: 10px 0px;
        border: none;
        border-radius: 6px;
        padding: 16px;
    }
}

@media (max-width: 550px) {
    .abtheadertxt {
        font-size: 16px;
    }
    .abtsubdiv1header {
        font-size: 16px;
    }
    .abtheading {
        font-size: 16px;
        margin: 3px 0px;
    }
}
@media (max-height: 550px) {
    .abtheader {
        margin-bottom: 30px;
        height: 35vh;
    }
    .abtheadertxt {
        top: 20vh;
    }
}
