.abtheader{
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #186DAF 0%, #22A4BC 100%);
    width: 100vw;
    height: 25vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.abtheadertxt{
    text-align: center;
    position: relative;
    top: 15vh;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.abtsubdiv1{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
.guyimg{
    width: max-content;
    height: 144px;
    position: relative;
    left: 12%;
    top: 12%;
}
.conesimg{
    position: absolute;
    z-index: -1;
    left: 0;

}
.ssmdiv{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 22vh;
    background-color: #F4FCFF;
}
.abtsubdiv1header{
    font-size: 28px;
    font-weight: bold;
    color: #0D4050;
    height: max-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 15px;
    transform: translateX(-50%);

}
.aboutus{
    margin: 10px auto 50px auto;
    width: 50%;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.abtmem{
    width: 380px;
    height: auto;
    margin: 20px;
    box-shadow: 0px 4px 10px 1px rgba(121, 166, 180, 0.63);
    border-radius: 10px;
}

.abtcontent{
    margin-top: 20px;
    font-size: 13px;
    color: #515151;
}
.abtheading{
    font-size: 28px;
    font-weight: bold;
    color: #0D4050;
    margin: 3px;
}
.wanttojoin{
    margin: 10px 0 0 0;
    border: none;
    background-color: #267D98;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}
.wanttojoin:hover{
    cursor: pointer;
}

.eventgrid{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    transform: translateX(-50%);
    left: 30%;
    grid-template-columns: auto auto;
    width: 53%;
}
.events{
    text-align: center;
    margin: 20px auto 20px auto;
    position: relative;
    justify-content: center;
}
.eventheader{
    font-size: 28px;
    font-weight: 700;
    color: #0A4456;
    margin: 40px;
}
.bg{
    background: #EFFBFF;
    height: 65%;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 120px;
}
.viewmore{
    border: none;
    border-radius: 6px;
    padding: 10px 15px 10px 15px;
    background: #207590;
    color: white;
    margin-top: 25px;
    font-weight: bold;
}
.viewmore:hover{
    cursor: pointer;
}
.light{
    position: absolute;
    left: 85vw;
    top: 600px
}

.side1{
    position: absolute;
    top: 50%;
    right: 0;
}
.side2{
    position: absolute;
    left: 0;
    height: 80%;
    width: auto;
    top: 80%;
}


@media (max-width:1400px){
    .abtheader{
        height: 24vh;
        font-size: 25px;
    }
    .ssmdiv{
        max-width: 100%;
    }
    .side1{
        width: 15%;
        height: auto;
        top: 45%;
    }
    .flexbox{
        width: 60vw;
    }
    .side2{
        top: 60%;
        height: 40%;
    }
}

@media (max-width:700px){
    .abtsubdiv1header{
        font-size: 22px;
    }
    .abtsubdiv1{
        height: 10vh;
    }
    .guyimg{
        height: 110px;
        top: 70%;
        left: 0%;
    }
    .conesimg{
        display: none;
    }
    .ssmdiv{
        height: 12vh;
    }
    .guyimg{
        top: 15%;
        left: 18%;
    }
    .bg{
        display: none;
    }
    .side1{
        top: 42%;
        height: 22%;
        width: auto;
    }
    .side2{
        height: 35%;
        top: 80%;
    }
    .flexbox{
        flex-direction: column-reverse;
    }
    .abtheading{
        text-align: center;
        margin: 0 0 0 0;
    }
    .flexbox1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wanttojoin{
        font-size: 12px;
    }


}


@media only screen and (max-width: 767px) {


    .eventheader {
        text-align: center;
    }
    .eventgrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .light {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .eventgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width: 979px) {
    .side2 {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 790px) {
    .aboutus {
        flex-direction: column;
    }

    .abtsubdiv3 {
        width: 100%;
        text-align: center;
    }

    .abtheading {
        margin-bottom: 1rem;
    }

    .abtcontent {
        position: relative;
        width: 85%;
        left: -20px;
        text-align: justify;
        margin: auto;
    }

    .wanttojoin {
        width: 33%;
        margin: 1rem;
    }

    .abtmem {
        width: 80%;
    }

}
