
.calSec{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: -45vh;
  }
  .caldesign img{
    position: relative;
    top: -30vh;
  }
  .calMain{
    background-image: url(../assests/Group1_bg_1.png);
  height: max-content;
    padding: 30px 0px 20px 0px;
  }
  .calHeader{
    position: relative;
    left: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  .calHeader h1{
    color: #0D4050;
    margin-right: 20px;
    font-size: 2.2vw;
    margin-bottom: 60px;
  }
  .calHeader img{
    width: 100px;
    height: 100px;
    position: relative;
    top: -20px;
    left: 20px;
  }
  .eventsSec{
    width: 55%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .events{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .eventbar1{
    background-color: #397CA1;
    width: 25vw;
    height: 8vh;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.514);
  }
  .subbar{
    width:6px;
    margin-left: 17px;
    border-radius: 18px;
    height: 6vh;
    margin-top: 6px;
  }
  .callogo{
    width: 70px;
    height: 70px;
    padding-left: 10px;
  }
  .des{
    margin-left: 40px;
    padding-top: 10px ;
  }
  .eventbar1 h4{
    color: white;
    font-size: 1.2vw;
    font-weight: bold ;
  }
  .eventbar1 p{
    color: white;
    font-size: 1vw;
    font-weight: lighter ;
  }