.container{
    margin: 10px 10px 10px 0;
    text-align: center;
    width: 315px;
    /* height: 40vh; */
    box-shadow: 0px 4px 12px 1px rgba(57, 124, 162, 0.19);
    border-radius: 11px;
    background: white;
}
.cropped img{
    border-radius: 11px 11px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 20%;
}
.cropped {
    width: 313px;
    /* height: 167px; */
}
.title{
    color: #0D4050;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0 5px 0;
}
.content{
    color: #515151;
    font-size: 13px;
    padding: 0 10px 10px 10px;
}

