.caldesign img{
    width: 12vw;
    height: 25vw;
    position: relative;
    top: -20vh;
  }
  .calMain{
    display: block;
    background-image: url(../assests/Group1_bg_1.png);
    padding: 30px 0px 20px 0px;
    width: 100%;
    height: max-content;
  }
  .calHeader{
    position: relative;
    left: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  .calHeader h1{
    color: #0D4050;
    margin-right: 20px;
    font-size: 2.2vw;
    margin-bottom: 60px;
  }
  .calHeader img{
    width: 100px;
    height: 100px;
    position: relative;
    top: -20px;
    left: 20px;
  }
  .eventsSec{
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .events{
    display: flex;
    flex-direction: column;
  }
  .eventbar1{
    background-color: #397CA1;
    width:420px;
    height: 8vh;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    box-shadow: 0 0 12px 2px rgba(255, 255, 255, 0.514);
  }
  .subbar{
    width:6px;
    border-radius: 18px;
    height: 6vh;
    position: relative;
    left: 10px;
    top: 10px;
  }
  .callogo{
    width: 70px;
    height: 70px;
    position: relative;
    left: 20px;
    top: 5px;
  }
  .des{
    margin-left: 40px;
    padding-top: 10px ;
  }
  .eventbar1 h4{
    color: white;
    font-size: 1.2vw;
    font-weight: bold ;
  }
  .eventbar1 p{
    color: white;
    font-size: 1vw;
    font-weight: lighter ;
  }
  @media only screen and (min-width: 1px) and (max-width: 767px){
 
  }