.faqcontainer {
    margin: 10vh 0px 0px 0px;
    transition: all 0.3s linear 0s;
}
.faqcontainer h1 {
    text-align: center;
    color: #0a4456;
    width: max-content;
    margin: auto auto;
}
.tag {
    text-align: center;
    color: #0d4050;
    width: max-content;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.faqlayout {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1400px) {
    .faqlayout {
        width: 70vw;
        scale: 0.8;
    }
    .faqcontainer {
        margin: 4vh 0px 0px 0px;
    }
}
@media (max-width: 1200px) {
    .faqlayout {
        width: 75vw;
    }
}
@media (max-width: 900px) {
    .faqlayout {
        width: 80vw;
    }
    .faqcontainer p {
        font-size: 15px;
    }
    .faqcontainer h1 {
        font-size: 28px;
    }
}
@media (max-width: 700px) {
    .faqlayout {
        width: 85vw;
        scale: 1;
    }
    .faqcontainer p {
        font-size: 15px;
    }
    .faqcontainer h1 {
        font-size: 24px;
    }
    .faqcontainer {
        margin: 0vh 0px 0px 0px;
    }
}
@media (max-width: 540px) {
    .faqlayout {
        width: 90vw;
    }
    .faqcontainer p {
        font-size: 13px;
    }
    .faqcontainer h1 {
        font-size: 20px;
    }
}
