.container1 {
    background-image: url(../assests/sec1bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    color: black;
    justify-content: space-between;
}
.info{
    position: relative;
    top:35vh;
    width:40%;
}
.info h1{
    text-align: left;
    margin: 10px 0px 10px 5vw;
    font-size: 2.6vw;
}
.info span{
    font-size: 3.2vw;
    color: rgba(32, 117, 144);
}
.info p{
    margin: 10px 0px 10px 5vw;
    line-height: 1.75em;
    font-size: 1vw;
    color:grey;
}
.btnContainer button{
    
    margin: 10px 0px 10px 5vw;
    color: white;
    background-color: #207590;
    font-size: 1.3vw;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border-width: 2px;
    border:none;
    cursor: pointer;
}
.img1Container{
    position: relative;
    bottom: -200px;
    right: 200px;
}
.img1Container img{
    width: 35vw;
    height: 35vw;
    position: relative;
}
@media screen and (max-width: 1100px) {
    .info{
        padding-top: 4vh;
        width: 45%;
    }
    .info h1{
        font-size: 3vw;
    }
    .info span{
        font-size: 3.2vw;
    }
    .info p{
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 900px) {
    .info{
        padding-top: 5vh;
        width: 45%;
    }
    .info h1{
        font-size: 3vw;
    }
    .info span{
        font-size: 3.2vw;
    }
    .info p{
        font-size: 1.2vw;
    }
}