*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;;
    box-sizing: border-box;
}

.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  background: none;
}
.navactive {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  z-index: 9;
  background-color: rgb(58, 136, 181);
  transition: background-color 1.5s ease;
}
.body{
    width: 100%;
    overflow: hidden;
}
.react-calendar {
    position: relative;
    margin-left: 9vw;
    top:-50px;
    width: 330px;
    height: max-content;
    max-width: 100%;
    padding: 30px;
    background: white;
    border: 1px solid #a0a096;
    border-color: aqua;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1px;
    border-color: white;
    box-shadow: 5px 20px 25px rgba(0, 0, 0, 0.253);
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 120px;
    margin-bottom: 1em;
    background-color: #207590;
    position: relative;
    top: -30px;
    left: -31px;
    width: 330px;
    border-radius: 20px 20px 0px 0px;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 25px;
    color: white;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
    color: #3A88B5;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3px;
    font-weight: bold;
  }
  
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 12px 6.6667px;
    background-color: white;
    text-align: center;
    line-height: 14px;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    border:1px solid #207590;
    
  }
  .react-calendar__tile--now {
    color: #133e5763;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #103050;
  }
  .react-calendar__tile--hasActive {
    color: #0c2946;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #ffffff;
    border: 1px solid #0c2946;
  }
  .react-calendar__tile--active {
    background: #3A88B5;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #184674;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }

  /*Nav Bar css for responsiveness*/
.logo{
  margin: 20px;
  position: relative;
  height: 34.30769348144531px;
  width: 38.30986022949219px;
  left: 10px;
  top: -10px;


}
.nav_box2{
  display: flex;
  position: relative;
  left: -50px;
}
.link{
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: Inter;
}
.linkbtn{
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: Inter;
  display: none;
}
.nav_box1{
  height: 30%;
}
ul {
  list-style: none;
  float: right;
}
li{
  display: inline-block;
  line-height: 45px;

}


@media screen and (max-width: 1000px) {
  ul {
    position: fixed;
    list-style: none;
    float: right;
    background: #0A4456;
    align-items: center;
    width: 60vw;
    height: 100vh;
  }
  li {
    display: block;
    line-height: 45px;
    margin: 50px;

  }
  .linkbtn
  {
    display: block;
    width: 10%;
  }
  .mobbtn{
    position: relative;
    top: -10px;
    width: 100%;
    height: 30px;
  }

  .nav_box2{
    display: block;
    width: 10%;
    height: 100%;
    position: relative;
    left: 500px;
  }
}