.preloader{
    width: 100vw;
    height: 100vh;
    background-image: url(../assests/cdxlogoanim.gif);
    background-size: cover;
    background-repeat:no-repeat;
    background-position-y:-50vh ;
}